*{
    margin: 0px;
    padding: 0px;
}

body {
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;

}

#container {
    width: 1200px;
    margin: auto;
    border: 1px solid black

}

header {
    background-color: rgb(14, 144, 167);
    height: 108px;
    width: 1200px;
    border-bottom: 2px dashed;

}

#logo {
    float: left;
    border: 1px solid black;
}

h1 {
    height: 100px;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 100px;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.507);
    border: 1px solid black;
    height: 60px;
    width: 1200px;
}

nav ul li {
    float: left; 
    list-style: none;
    margin: 10px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    background-color: black;
    font-style:oblique;

}

nav ul li a {
    color:white;
    font-style: normal;
    text-decoration: dashed;
    
}

.clearfix{
    clear:both;

}

#content {
    float: left;
    width: calc(80% - 80px);
    min-height: 600px;
    background: rgba(58, 0, 112, 0.568);
    padding: 30px
}

.article{
    margin-top: 12px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(26, 90, 116);
    padding-bottom: 12px; 
    
}

.article h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.article ul li {
    margin-left: 15px;
}